.productInCart {
    display: flex;
    gap: 1rem;
    border-radius: 10px;
    border: 1px solid black;
    width: 300px;
    padding: 6px;
    justify-content: space-between;
}

.main {
    display: flex;
    gap: 0.8rem;
}

.imageContainer {
    width: 80px;
    height: 80px;
    

    .image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}

.info {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;

    .title {
        font-weight: 600;
    }
}

.infoGrid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 0.5rem;
    align-items: center;

    

    .costLabel::before {
        content: 'Цена:';
    }
}

.deleteContainer {
    width: 20px;
    align-self: center;

<<<<<<< HEAD
    .deleteButton {
        padding: 0;
        border: none;
        background: transparent;
        cursor: pointer;
    }

=======
>>>>>>> 92091718d6fc0831bbd121dab0c967f5b741f99f
    .deleteIcon {
        width: 100%;
        object-fit: cover;
    }
}

.counter {
    font-weight: 600;
    align-self: center;
}